/* line 4, /Users/brunochagas/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, /Users/brunochagas/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, /Users/brunochagas/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 21, /Users/brunochagas/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, /Users/brunochagas/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, /Users/brunochagas/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, /Users/brunochagas/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, /Users/brunochagas/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 1, ../../sass/partials/_base.sass */
body {
  background: url("../images/background.png") repeat-x top;
}
/* line 4, ../../sass/partials/_base.sass */
body > header {
  margin: 0 auto;
  width: 960px;
}
/* line 8, ../../sass/partials/_base.sass */
body > nav {
  width: 960px;
  margin: -108px auto 106px;
}

/* line 4, ../../sass/partials/_typography.sass */
body {
  font-family: "Helvetica", sans-serif;
}
/* line 8, ../../sass/partials/_typography.sass */
body > header form {
  margin: 10px 0;
}
/* line 11, ../../sass/partials/_typography.sass */
body > header form label {
  display: none;
}
/* line 15, ../../sass/partials/_typography.sass */
body > header form input[type='text'] {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #626262;
  font-size: 11px;
  padding: 5px;
  text-transform: uppercase;
  width: 212px;
}
/* line 23, ../../sass/partials/_typography.sass */
body > header form input[type='text']:focus {
  outline: none;
}
/* line 26, ../../sass/partials/_typography.sass */
body > header form input[type='submit'] {
  display: none;
}

/* line 7, ../../sass/screen.sass */
body {
  background: url("../images/background.png") repeat-x top;
}
/* line 11, ../../sass/screen.sass */
body > header > a {
  background: url("../images/logo.png") no-repeat center center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  display: inline-block;
  height: 168px;
  text-indent: -9999px;
  width: 168px;
}
/* line 19, ../../sass/screen.sass */
body > header > form {
  display: inline-block;
  float: right;
}
/* line 23, ../../sass/screen.sass */
body > header > form input[type='text'] {
  border: 1px solid #f36f21;
}
/* line 27, ../../sass/screen.sass */
body > nav > div > ul {
  background: #f7f4ef;
  margin-left: 20px;
  padding-bottom: 15px;
  padding-left: 182px;
  padding-top: 15px;
}
/* line 9, ../../sass/partials/_mixins.sass */
body > nav > div > ul > li {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}
/* line 27, ../../sass/partials/_mixins.sass */
body > nav > div > ul > li > a {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fb8419), color-stop(100%, #fc9621));
  background-image: -webkit-linear-gradient(top, #fb8419, #fc9621);
  background-image: -moz-linear-gradient(top, #fb8419, #fc9621);
  background-image: -o-linear-gradient(top, #fb8419, #fc9621);
  background-image: -ms-linear-gradient(top, #fb8419, #fc9621);
  background-image: linear-gradient(top, #fb8419, #fc9621);
  border: 1px solid #f36f21;
  display: block;
  padding: 10px 18px;
  color: white;
  text-decoration: none;
}
/* line 32, ../../sass/partials/_mixins.sass */
body > nav > div > ul > li > a:hover {
  background: #ffae07;
}
/* line 36, ../../sass/partials/_mixins.sass */
body > nav > div > ul > li.current_page_item a, body > nav > div > ul > li.current_page_parent a {
  background: #ffae07;
}
/* line 40, ../../sass/partials/_mixins.sass */
body > nav > div > ul > li:first-child a {
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  -ms-border-radius: 10px 0 0 10px;
  -o-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
}
/* line 44, ../../sass/partials/_mixins.sass */
body > nav > div > ul > li:last-child a {
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -ms-border-radius: 0 10px 10px 0;
  -o-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
}
/* line 14, ../../sass/partials/_mixins.sass */
body > nav > div > ul > li > ul {
  display: none;
}
/* line 18, ../../sass/partials/_mixins.sass */
body > nav > div > ul > li:hover > ul {
  background: #ffae07;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 34px;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 190px;
}
/* line 58, ../../sass/partials/_mixins.sass */
body > nav > div > ul > li:hover > ul a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border-bottom: 1px solid white;
  display: block;
  padding: 10px 18px;
  color: white;
  text-decoration: none;
}
/* line 63, ../../sass/partials/_mixins.sass */
body > nav > div > ul > li:hover > ul a:hover {
  color: #00652e;
}
/* line 67, ../../sass/partials/_mixins.sass */
body > nav > div > ul > li:hover > ul li.current_page_item a {
  color: #00652e;
}
